$primary: #274c77;
$secondary: #A62639;
$tertiary: #8B939C;
$quaternary: #F7C548;
$quinary: #9CE37D;
$sextary: #353535;
$white: #FFFFFF;

$danger: $secondary;
$caution: $quaternary;
$success: $quinary;
$text-color: $sextary