@import '../../scss/main.scss';

.grid {
    display: grid;
    grid-template-columns: repeat($totalColumns, 1fr);
    column-gap: $grid-gutter-width;

    &--padding {
        padding: 0 $grid-gutter-width;
    }

    &--vertical-padding {
        padding: $grid-gutter-width 0;
    }
}